.testimony-carousel {
  padding: 5rem;
  position: relative;
  background-color: rgba(89, 28, 135, 0.86);
  color: white;
  overflow: hidden;
}

#solution {
  position: relative;
}



#solution .colored,
#solution .h2 {
  text-align: left;
  margin: 0.5rem 0 1.5rem;
}

#solution .colored {
  color: #fcd34d;
  margin: 0;
}

#solution .details {
  width: 50.9rem;
  margin: 0 0 5rem;
}

#solution .quote {
  width: 19.1rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: bolder;
  position: absolute;
  top: 7.5rem;
  right: 5rem;
  z-index: 1;
}

.carousel-card {
  height: 27.7rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  min-width: 23.75rem;
  z-index: 1;
}

.carousel-card .detail,
.carousel-card .name {
  color: #0f172a;
  font-size: 1.125rem;
  width: min(100%, 18.75rem);
  line-height: 160%;
  margin: 1rem 0;
}

.carousel-card .testifier-img {
  width: 4rem;
  height: 4rem;
}

#carousel-card-main {
  height: 30.7rem;
}

.carousel-card .name {
  margin: 0;
}

.carousel-card .kwh {
  font-size: 1rem;
  color: #475569;
}

.caurosel-container {
  gap: 1.5rem;
  position: relative;
  padding: 0 0 0 11rem;
  width: 80rem;
  margin: 0 auto 5rem;
}

.move {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.2rem solid #fcd34d;
  background-color: transparent;
  color: #fcd34d;
}

.movements {
  gap: 1.5rem;
  justify-content: start;
}

.pattern-circle {
  width: 13.7rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #6b21a8;
  position: absolute;
  top: 1rem;
  right: 3rem;
}

.pattern-ellipse {
  width: 15.9rem;
  height: 23rem;
  background-color: #38bdf8;
  clip-path: ellipse();
  transform: rotate(135deg);
  position: absolute;
  top: 39rem;
  right: -3rem;
}

.irregular-pattern {
  width: 61.5rem;
  height: 94rem;
  clip-path: path(
    "M82.7122 1498.62C-102.639 1511.08 -202.697 1212.94 -287.513 991.592C-349.27 830.419 -349.309 648.774 -309.236 475.721C-273.466 321.25 -190.973 205.289 -86.6381 124.124C32.0076 31.8252 149.441 -18.1705 294.451 6.09348C461.689 34.0769 617.803 206.371 644.369 423.78C670.124 634.555 500.553 769.85 409.15 944.767C303.201 1147.52 267.108 1486.23 82.7122 1498.62Z"
  );
  background-color: #c9eeab;
  position: absolute;
  top: 37rem;
  z-index: -5;
}

@media (max-width: 1024px) {
  .testimony-carousel {
    padding: 3rem 1rem;
    position: relative;
    z-index: -4;
  }

  #solution .colored,
  #solution .h2 {
    text-align: center;
    margin: 0.5rem 1rem 1.5rem;
    font-size: 2rem;
    width: 100%;
  }

  #solution .colored {
    font-size: 1rem;
  }

  #solution .details {
    width: 100%;
    margin: 0 0 1.5rem 0;
    font-size: 1rem;
  }

  #solution .quote {
    width: 15.1rem;
    height: 3.5rem;
    font-size: 1.25rem;
    position: static;
    margin: 0 auto 4rem;
  }

  .carousel-card {
    height: 22.25rem;
    background-color: #fff;
    min-width: 22.56rem;
    z-index: 1;
  }

  .caurosel-container {
    gap: 0;
    position: relative;
    padding: 0;
    width: 100%;
    margin: 0 0 4rem;
  }

  .movements {
    gap: 1.5rem;
    justify-content: center;
  }

  .pattern-circle {
    width: 7rem;
    top: 18.5rem;
    right: 3rem;
    z-index: -1;
  }

  .pattern-ellipse {
    width: 9.8rem;
    height: 14rem;
    top: 50rem;
  }
}
