header.flexs {
  justify-content: start;
  padding: 1.91rem 5rem;
  gap: 2.375rem;
}

header.flexs > nav.flexs {
  width: 100%;
  justify-content: space-between;
}

header.flexs ul.flexs {
  list-style: none;
  gap: 1rem;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 550;
  font-size: 1.1rem;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.button-container {
  gap: 1rem;
}

.button-container > button:nth-child(1) {
  background-color: transparent;
  border: none;
  gap: 1rem;
  color: #0369a1;
  font-size: 1.1rem;
  width: 10.44rem;
  height: 3rem;
}

button.mobile {
  width: 2.5rem;
  font-size: 1.2rem;
  font-weight: lighter;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--primary-button-color);
  border: none;
}

@media (max-width: 1024px) {
  header.flexs {
    justify-content: space-between;
    padding: 0.65rem 1rem;
  }

  header.flexs > nav.flexs {
    width: fit-content;
  }

  html {
    overflow-x: hidden;
  }

  .mobile-nav ul {
    flex-direction: column;
  }

  .mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #fff;
    width: 100%;
    padding: 2rem 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    animation: mobile-entry 1s linear 1;
  }

  @keyframes mobile-entry {
    0% {
      top: -5rem;
    }
    50% {
      top: -2.5rem;
    }
    100% {
      top: 0rem;
    }
  }

  .exit {
    animation: exit 1s linear 1 d;
  }

  @keyframes exit {
    0% {
      top: 0rem;
    }

    50% {
      top: -2.5rem;
    }

    100% {
      top: -5rem;
      display: none;
    }
  }

  .mobile-btn {
    z-index: 100;
  }
}
