* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  width: 100vw;
  position: relative;
}

body {
  width: min(100vw, 1440px);
  height: 100vh;
}

.flexs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
}

.mobile {
  display: none;
}

.quote {
  width: 12.86rem;
  height: 3rem;
  border-radius: 100px;
  border: none;
  background-color: #fcd34d;
  font-size: 1.1rem;
  gap: 1rem;
  color: #78350f;
}

button {
  cursor: pointer;
}

img {
  object-fit: cover;
}

@media (max-width: 1024px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}
